<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>numplatforms</key>
        <integer>8</integer>
        <key>platforms</key>
        <dict>
            <key>0</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>100</integer>
				<key>w</key>
				<integer>800</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>1000</integer>
				<key>y</key>
				<integer>100</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>200</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>1800</integer>
				<key>y</key>
				<integer>100</integer>
				<key>w</key>
				<integer>0</integer>
				<key>h</key>
				<integer>200</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>2600</integer>
				<key>y</key>
				<integer>100</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>3800</integer>
				<key>y</key>
				<integer>100</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>100</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>3800</integer>
				<key>y</key>
				<integer>100</integer>
				<key>w</key>
				<integer>100</integer>
				<key>h</key>
				<integer>200</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>3800</integer>
				<key>y</key>
				<integer>100</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>1000</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>3800</integer>
				<key>y</key>
				<integer>100</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>-1000</integer>
			</dict>
        </dict>
    </dict>
</plist>
