<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>numplatforms</key>
        <integer>13</integer>
        <key>platforms</key>
        <dict>
            <key>0</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>1000</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>300</integer>
				<key>w</key>
				<integer>0</integer>
				<key>h</key>
				<integer>800</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>1000</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>500</integer>
				<key>w</key>
				<integer>0</integer>
				<key>h</key>
				<integer>300</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>-800</integer>
				<key>y</key>
				<integer>-200</integer>
				<key>w</key>
				<integer>0</integer>
				<key>h</key>
				<integer>300</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>300</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
				<key>h</key>
				<integer>300</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>300</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>-300</integer>
				<key>y</key>
				<integer>300</integer>
				<key>w</key>
				<integer>0</integer>
				<key>h</key>
				<integer>800</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>2100</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
				<key>h</key>
				<integer>1500</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>2100</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>1900</integer>
				<key>y</key>
				<integer>-200</integer>
				<key>w</key>
				<integer>1900</integer>
				<key>h</key>
				<integer>0</integer>
			</dict>
			<key>13</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>-1000</integer>
			</dict>
			<key>14</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>-1000</integer>
			</dict>
			<key>15</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>-1000</integer>
			</dict>
			<key>16</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>-1000</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>-1000</integer>
			</dict>
			<key>18</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>-1000</integer>
			</dict>
			<key>19</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<integer>200</integer>
				<key>h</key>
				<integer>-1000</integer>
			</dict>
        </dict>
    </dict>
</plist>
